.bg-primary {
    background-color: #f66733;
}
.bg-primary h3 {
    color: #01296e;
}
.bg-corp{
    color:#fff;
    background-color:#01296e;
}

.bg-dark {
    color: #fff;
    background-color: #222;
}

.bg-orange {
    color: #fff;
    background-color: #F66733;
}

.bg-purple {
    color: #fff;
    background-color: #522d80;
}

.bg-moon {
    color: #fff;
    background-color: #D4C99E;
}

.bg-rock {
    color: #fff;
    background-color: #685c53;
}

.bg-brick {
    color: #fff;
    background-color: #a25016;
}
.bg-brick h3 {
    color: #01296e;
}
.bg-oak {
    color: #fff;
    background-color: #562e19;
}

.bg-innovate {
    color: #fff;
    background-color: #86898c;
}

.bg-lace {
    color: #fff;
    background-color: #f9e498;
}

.bg-bowman {
    color: #fff;
    background-color: #566127;
}

.bg-ridge {
    color: #fff;
    background-color: #3a4958;
}

.bg-fields {
    color: #fff;
    background-color: #b5c327;
}

.bg-sky {
    color: #fff;
    background-color: #109dc0;
}